
.nav-link a{
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  
}
.nav-link{
  display:flex;
  text-align: center;
  position: absolute;
  left: 55%;
  gap:20px;
  transform: translateX(-50%);
}

.top-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}


.logo{
  height:200px;
  width:200px ;
  border-radius: 50%;
}

.hero{
  text-align: center;
  padding: 80px 20px;
 font-family:Arial, Helvetica, sans-serif;
}
.hero h1{
  font-size: 40px;
  margin-bottom: 20px;
}
.hero h3{
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: 400;
}
.hero p{
  font-size: 18px;
  max-width: 700px;
  margin:0 auto 30px auto;
  line-height: 1.6;
}
.button-box{
  display: flex;
  justify-content:center;
  gap:250px;
}
.btn-1 a,.btn-2 a,.btn-3 a{
  display:inline-block;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  transition: 0.3s;
  text-align: center;
  padding: 10px;
}



.Logo{
  height:100px;
  width:100px ;
  border-radius: 50%;
}

.cards-container , .container , .Container{
  display:inline-block;
  flex-wrap: wrap;
  width:450px;
  height:450px;
  border:black solid 3px;
  border-radius: 10px;
  vertical-align: top;
  margin: 10px;
  place-items:center;
}
.Courses{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.cards{
  text-align: center;
  padding: 60px 20px;
}
.cards h2{
  font-size: 30px;
  font-weight:bold;
}
.cards p{
  font-size: 20px;
  font-style:oblique;
}
.features-list {
  list-style:circle;
  text-align:justify;
  margin-bottom: 30px;
}
.features-list li {
 font-size: 16px;
}
.keyfeatures{
  font-size:20px ;
  text-decoration: underline;
}
.btn a{
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;  display:inline-block;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  padding: 10px;
}
 .card-title{
  font-size: 30px;
  font-weight:bold;
}
.duration{
  font-size: 20px;
}
.price{
  font-size: 20px;
}
html{
  scroll-behavior:smooth ;
}


 





